@{
    ViewData["Title"] = "MostrarGrafico";
}
<h1>Mostrar Grafico</h1>

<h2> Ordenes de Pago Por Tipo Moneda</h2>
<div id="Chart_Orden"></div>
<h2>Ordenes de Pago Por Estado</h2>
<div id="chartOrden2"></div>
@section scripts{
    <script src="~/lib/apexchart/apexcharts.js"></script>
    <script>
          $(document).ready(function(){
            var sourceArray = @Json.Serialize(ViewBag.listOrdenes);
            localStorage.removeItem("datareport_ordenes");
            localStorage.setItem("datareport_ordenes", JSON.stringify(sourceArray));
            var datos_ordenes = JSON.parse(localStorage.getItem("datareport_ordenes"));
            CargarGraficoOrdernesPago(datos_ordenes);
          })

    </script>
     <script src="~/js/graficoordenespago.js"></script>
}
